/*
color:
fontsize: px;
position: relative;
left; px;
right px;
 */

/*Top left Button*/
#mainNav .navbar-brand {


}

/*Navbar*/
#mainNav .navbar-nav .nav-item .nav-link {


}

/*Introduction Header*/
introhead{
  position: relative;
  font-size:30px;
  left: 400px;
  top: 100px;

}


/*Section Headers */
section h2.section-heading {
  color:green;
}


/*Section subheaders*/
section h3.section-subheading {
  color:blue;
}


/*-------------- Section 1 ----------------*/

.service-heading{
  color: navy;
}

/*Who am I ?*/
p1{
  color:green;
}

p2{
  color: purple;
}

p3{
  color:orange;
}

/*--------------- Section 2 -------------------*/

.portfolio-caption h5{
  color: pink;

}
.portfolio-caption p{
  color: orange;
}

/*-------------- Section 3 -----------------------*/

.timeline .timeline-heading h4 {
  color: blue;
}

.timeline .timeline-body p{
  color: red;
}

/*--------------- Section 4 -----------------------*/

.team-member h4 {
  color: purple;
}

.team-member p {
  color: blue;
}
